<div class="jumbotron alert-link">
    <p>
        Do you know? You can easily manage your properties with us!!! Use our Property Showroom to 
        showcase your properties, let our valuers evaluate your properties
         while you can manage the properties payment transactions online</p>
    <p>
        <a class="btn btn-success index-button " href="#">Get started</a>
        
    </p>
</div>