<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Site - Admin</title>

		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</head>

	<body>
		<div class="header">
			<div class="navbar navbar-default navbar-fixed-top" style="padding-left:10px; padding-right:10px; padding-bottom:10px; padding-top:0px; background-color:black; height:30px">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/admin/index"> <i class="glyphicon glyphicon-home"></i> Property <span class="logo-dec">Managers</span></a>
				</div>
				<div class="navbar-collapse">
					<ul class="nav navbar-nav navbar-right">


						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Property <i class="glyphicon glyphicon-list-alt"></i> <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="themes">

								<li class="divider"></li>
								<li>
									<a href="/portal/property">Property Registration <i class="fa fa-edit"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/portal/properties">All Properties <i class="fa fa-institution"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/portal/propertyevaluation">Property Valuations <i class="fa fa-institution"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/portal/mortgages">Mortgage Applications <i class="fa fa-institution"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/portal/mortgageevaluation">Mortgage Brokage <i class="fa fa-institution"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/admin/showroom" >Manage Showroom  <i class="glyphicon glyphicon-film"></i> </a>
								</li>
							
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Admin <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="download">
								<li>
									<a href="/admin/contact"> Sales Appointments <i class="fa fa-envelope-o"></i> </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/admin/users">Manage Users <i class="fa fa-users"></i> </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/admin/staff">Manage Staff <i class="fa fa-users"></i> </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/admin/news"> News  & Offers <i class="fa fa-newspaper-o"></i> </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/admin/adverts"> Advertisements<i class="glyphicon glyphicon-book"></i> </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/admin/events"> Events Management <i class="fa fa-calendar"></i> </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/admin/audittrail"> Audit Trail <i class="fa fa-eye"></i> </a>
								</li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Reports <i class="glyphicon glyphicon-stats"></i> <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="themes">

								<li>
									<a href="/report/properties">Property <i class="fa fa-institution"></i> </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/report/users">Users <i class="fa fa-users"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/report/mortgages">Mortgage  <i class="fa fa-institution"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/report/purchases">Purchases  <i class="fa fa-money"></i></a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/report/analytics">Analytics <i class="fa fa-pie-chart"></i></a>
								</li>
							</ul>
						</li>

						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Account <i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="download">

								<li>
									<a href="/admin/updateprofile"> View & Update Profile <i class="glyphicon glyphicon-list-alt"></i> </a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/admin/changepassword"> Change Password <i class="glyphicon glyphicon-wrench"></i> </a>
								</li>
							</ul>
						</li>

						

						<li>
							<a href="/home/logout"> Logout <i class="glyphicon glyphicon-off"></i> </a>
						</li>
					</ul>

				</div>
			</div>
			<div class="wrapper">
				<div class="bg-color">
					<div class="container2 body-content">
						<br />

						<br />
						<br />
						<%= yield %>
						<hr />
						<footer>
							<p class="white">
								&copy; 2017 - Ayobami Adewole (14172658)
							</p>
						</footer>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function() {
				$('#dataTable').DataTable({
					deferRender : false,
					scrollY : 600,
					scrollCollapse : true,
					scroller : true
				});
			});
		</script>

<style>
.container2{
	margin-left:10px;
	margin-right:10px;
}
</style>
	</body>
</html>